.service-outer {
  padding: getSize(63vw) 0 0px;
  @include media(pc,min){
    padding: 0 0 95px;
  }
}
@keyframes spKvAnimation {
  from {
    background-position-x: getSize(-24vw);
  }
  to {
    background-position-x: getSize(-817vw);
  }
}
@keyframes pcKvAnimation {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: -689px;
  }
}
.service-kv {
  color: #fff;
  padding-bottom: getSize(48.5vw);
  overflow: hidden;
  @include media(pc,min){
    width: 1100px;
    margin: 0 auto;
    position: relative;
    padding: 80px 0 210px 0;
  }
}
.service-kv_visual {
  display: block;
  width: var(--serviceKvVisualWidth);
  @include fadeUp;
  @include media(sp,max){
    margin: getSize(73.7vw) 0 0 getSize(-70.75vw);
    will-change: transform;
    // transform: translateX(-105.526667vw);
  }
  @include media(pc,min){
    width: 474px;
    position: absolute;
    top: -206px;
    right: 5px;
  }
  .service-kv.add-inView & {
    @include show;
  }
}
.service-kv_visual_inner {
  display: block;
  will-change: transform;
}
.service-kv.add-inView:after {
  @include media(sp,max){
    @include show;
  }
}
.service-kv_inner {
  @include fadeUp;
  @include media(sp,max){
    padding-left: getSize(51vw);
  }
  .service-kv.add-inView & {
    @include show;
  }
}
.service-kv_textArea_ttl {
  font-size: getSize(25vw);
  letter-spacing: 0.1em;
  font-weight: bold;
  line-height: 1;
  @include media(pc,min){
    font-size: 25px;
  }
}
.service-kv_textArea_subTtl {
  font-size: getSize(50vw);
  line-height: lh(70,40);
  letter-spacing: 0.08em;
  font-weight: 500;
  margin-top: getSize(31vw);
  @include media(pc,min){
    font-size: 54px;
    margin-top: 51px;
  }
}
.service-kv_textArea_subTtl_img {
  width: getSize(482vw);
  @include media(pc,min){
    width: 520px;
  }
}
@-moz-document url-prefix() {
  .service-kv_textArea_subTtl_img {
    @include media(pc,min){
      transform: rotate(0.0001deg);
    }
  }
}
.service-kv_textArea_subTtl-small {
  font-size: getSize(24vw);
  line-height: 1.7;
  display: block;
  font-weight: 700;
  margin-top: getSize(5vw);
  @include media(pc,min){
    font-size: 22px;
    line-height: 1.828571;
    margin-top: 20px;
  }
}

.service-nav {
  padding: getSize(58vw) getSize(48vw) getSize(59.5vw);
  background-color: #fff;
  color: $primary-b;
  @include media(pc,min){
    padding: 53px 0 62px 0;
  }
}
.service-nav_ttl {
  font-size: getSize(34vw);
  letter-spacing: 0.07em;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  @include fadeUp;
  @include media(pc,min){
    font-size: 28px;
    letter-spacing: 0.12em;
    margin-left: -4px;
  }
  &.add-inView {
    @include show;
  }
}
.service-nav_ttl_paragraph {
  font-size: getSize(24vw);
  letter-spacing: 0.05em;
  line-height: lh(50,24);
  margin-top: getSize(32vw);
  @include fadeUp;
  @include media(sp,max){
    text-align: justify;
  }
  @include media(pc,min){
    font-size: 17px;
    line-height: lh(38,17);
    text-align: center;
    letter-spacing: 0.11em;
    margin-top: 45px;
    margin-left: -4px;
  }
  &.add-inView {
    @include show;
  }
}
.service-localNav {
  margin-top: getSize(70vw);
  @include media(pc,min){
    width: 883px;
    margin: 25px auto 0;
  }
}
.service-localNav_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-localNav_item {
  width: getSize(132vw);
  @include fadeUp;
  @include media(pc,min){
    width: 180px;
  }
  .add-inView & {
    @include show;
    &:nth-of-type(1) {
      transition-delay: 0;
    }
    &:nth-of-type(2) {
      transition-delay: 0.2s;
    }
    &:nth-of-type(3) {
      transition-delay: 0.4s;
    }
    &:nth-of-type(4) {
      transition-delay: 0.6s;
    }
  }
}
.service-localNav_link {
  display: block;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:after {
    content: '';
    background-image: url($images + 'service/nav/arrow.svg');
    background-size: 100% 100%;
    width: getSize(26.1vw);
    height: getSize(15.3vw);
    display: block;
    margin-top: getSize(35vw);
    @include media(pc,min){
      width: 26px;
      height: 15px;
      margin-top: 30px;
      transition: opacity 0.3s;
    }
    .mod-security & {
      margin-top: 3.86vw;
      @include media(pc,min){
        margin-top: 24px;
      }
    }
  }
  &:hover {
    @include media(pc,min){
      opacity: 1;
    }
    .service-localNav_visual_inner {
      @include media(pc,min){
        transform: scale(1.2);
      }
    }
    .service-localNav_ttl {
      @include media(pc,min){
        opacity: 0.5;
      }
    }
    &:after {
      @include media(pc,min){
        opacity: 0.5;
      }
    }
  }
}
.service-localNav_number {
  width: getSize(80vw);
  display: block;
  @include media(pc,min){
    width: 79px;
  }
}
.service-localNav_visual {
  @include media(pc,min){
    margin-top: 26px;
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
}
.service-localNav_visual_inner {
  transition: transform 0.3s;
  will-change: transform;
  display: block;
}
_::-webkit-full-page-media, _:future, :root .service-localNav_visual_inner {
  @include media(pc,min){
    transition: transform 0.3s ease-in-out;
  }
}
.service-localNav_ttl {
  display: block;
  margin-top: getSize(5.7vw);
  @include media(sp,max){
    transform: scale(1.1);
  }
  @include media(pc,min){
    margin-top: 2px;
    transition:  opacity 0.3s;
  }
  .mod-security & {
    width: getSize(102vw);
    margin-top: getSize(11.7vw);
    @include media(pc,min){
      width: 96px;
      margin-top: 8px;
    }
  }
  .mod-resale & {
    width: getSize(82vw);
    @include media(pc,min){
      width: 78px;
    }
  }
  .mod-solution & {
    width: getSize(132vw);
    @include media(pc,min){
      width: 123px;
    }
  }
  .mod-education & {
    width: getSize(125vw);
    @include media(pc,min){
      width: 116px;
    }
  }
}
.service-detailOuter {
  @include media(pc,min){
    max-width: 1150px;
    margin: 0 auto;
  }
}
.service-detail {
  color: #fff;
  // overflow: hidden;
}
.service-detail_inner {
  @include media(sp,max){
    overflow: hidden;
  }
  .mod-security & {
    padding-top: getSize(139vw);
    @include media(pc,min){
      padding: 133px 0 0 0;
      margin-top: -40px;
    }
  }
  .mod-resale & {
    padding-top: getSize(139vw);
    @include media(pc,min){
      padding-top: 157px;
    }
  }
  .mod-solution & {
    padding-top: getSize(139vw);
    @include media(pc,min){
      padding-top: 157px;
    }
  }
  .mod-education & {
    padding-top: getSize(139vw);
    @include media(pc,min){
      padding-top: 157px;
    }
  }
}

.service-detail_textArea {
  position: relative;
  @include media(sp,max){
    padding: 0 getSize(46vw) 0 getSize(45.5vw);
  }
  @include media(pc,min){
    padding-left: 30px;
  }
}
.service-detail_textArea_inner_ttl_img {
  display: block;
  @include fadeUp;
  &.add-inView {
    @include show;
  }
  .mod-security & {
    width: getSize(288.7vw);
    @include media(pc,min){
      width: 240px;
    }
  }
  .mod-resale & {
    width: getSize(234.3vw);
    @include media(pc,min){
      width: 195.2px;
    }
  }
  .mod-solution & {
    width: getSize(374.2vw);
    @include media(pc,min){
      width: 311.9px;
    }
  }
  .mod-education & {
    width: getSize(353.5vw);
    @include media(pc,min){
      width: 294.6px;
    }
  }
}
.service-detail_textArea_inner_ttl_sub {
  font-size: getSize(36vw);
  letter-spacing: 0.06em;
  line-height: lh(66,36);
  font-weight: bold;
  margin-top: getSize(20vw);
  display: block;
  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc,min){
    font-size: 30px;
    line-height: 1.828571;
    margin-top: 20px;
  }
  .mod-resale &,
  .mod-solution &,
  .mod-education & {
    margin-top: getSize(38vw);
    @include media(pc,min){
      margin-top: 33px;
    }
  }
}
.service-detail_textArea_inner_paragraph {
  font-size: getSize(24vw);
  letter-spacing: 0.1em;
  line-height: lh(52,24);
  text-align: justify;
  margin-top: getSize(25vw);
  @include fadeUp;
  @include media(sp,max){
    margin-left: getSize(5vw);
  }
  @include media(pc,min){
    font-size: 17px;
    width: 590px;
    margin-top: 22px;
    letter-spacing: 0.05em;
    line-height: 2.24;
  }
  &.add-inView {
    @include show;
  }
  .mod-resale & {
    @include media(pc,min){
      letter-spacing: 0.1em;
    }
  }
  .mod-solution & {
    @include media(pc,min){
      letter-spacing: 0.1em;
    }
  }
  .mod-education & {
    @include media(pc,min){
      letter-spacing: 0.09em;
    }
  }
}
.service-detail_textArea_img {
  width: getSize(270vw);
  height: getSize(270vw);
  position: absolute;
  top: getSize(-98.7vw);
  left: 65.266667vw;
  background-image: url($images + 'service/service/gradient-circle-left.png');
  background-size: 100% 100%;
  border-radius: 500px;
  z-index: 1;
  @include media(pc,min){
    width: 450px;
    height: 450px;
    top: -20px;
    left: 672px;
  }

  &.mod-hidden {
    overflow: hidden;
  }
  .mod-resale & {
    background-image: url($images + 'service/service/gradient-circle-right.png');
    border-radius: 50% 0 0 50%;
    overflow: hidden;
    @include media(sp,max){
      top: getSize(-74.7vw);
    }
  }

  .mod-solution & {
    background: none;
    width: getSize(276.14vw);
    height: getSize(270vw);
    z-index: 1;
    border-radius: 0 50% 50% 0;
    overflow: hidden;
    top: getSize(-80vw);
    left: getSize(484vw);
    @include media(pc,min){
      width: 460px;
      height: 450px;
      top: -19px;
      left: 660px;
    }
  }

  .mod-education & {
    overflow: hidden;
    border-radius: 50% 0 0 50%;
    bottom: auto;
    left: getSize(490vw);
    top: getSize(-56vw);
    @include media(pc,min){
      top: -19px;
      left: 670px;
    }
  }
}
@for $var from 1 through 2 {
  .service-detail_textArea_layer#{$var} {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    z-index: $var;
    // .mod-solution & {
    //   width: getSize(270, 276.13) + '%';
    //   height: 100%;
    // }
  }
}
.service-detail_textArea_layer1 {
  .mod-education & {
    overflow: visible;
  }
}
.service-detail_textArea_layer2 {
  .mod-resale & {
    overflow: visible;
  }
  .mod-solution & {
    overflow: visible;
  }
}
.service-detail_textArea_img_inner {
  width: getSize(270, 276.13) + '%';
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background-image: url($images + 'service/service/gradient-circle-right.png');
  background-size: 100% 100%;
}
.service-detail_textArea_img_inline {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(0, 100%);
  transition: transform 0.3s;

  .mod-resale & {
    transform: translate(-100%, 0);
  }
  .mod-solution & {
    width: getSize(359, 351) + "%";
    transform: translate(100%, 0);
  }

  .mod-education & {
    transform: translate(-100%, 0);
  }

  .add-inView & {
    transform: translate(0, 0);
  }
}
.service-detail_works {
  margin-top: getSize(56.1vw);
  position: relative;
  @include media(sp,max){
    padding: 0 getSize(38vw) 0;
  }
  @include media(pc,min){
    margin: 94px 25px 0;
    border-bottom: 1px #fff solid;
  }
}
.service-detail_works_deco {
  position: absolute;
  top: 0;
  left: getSize(36vw);
  width: getSize(14.3vw);
  height: getSize(1297vw);
  background-color: #64aee5;
  z-index: 1;
  @include media(pc,min){
    left: -12px;
    top: -13px;
    transform: rotate(-90deg);
    transform-origin: top right;
    width: 13px;
    height: 1036px;

  }
  &:after {
    content: '';
    display: block;
    background-image: url($images + 'service/service/security/arrowhead.svg');
    background-size: 100% 100%;
    width: getSize(48vw);
    height: getSize(79vw);
    position: absolute;
    bottom: getSize(-77vw);
    left: 0;
    @include media(pc,min){
      width: 43px;
      height: 71px;
      bottom: -60px;
    }
  }
}
.service-detail_works_inner {
  @include media(pc,min){
    display: flex;
    flex-wrap: nowrap;
    position: relative;
  }
  &:before {
    @include media(pc,min){
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      position: absolute;
      background: linear-gradient(to right,
      rgba($color: #000000, $alpha: 0) 20%,
      #fff 20%,
      #fff calc(20% + 1px),
      rgba($color: #000000, $alpha: 0) calc(20% + 1px), rgba($color: #000000, $alpha: 0) calc(40%),
      #fff 40%,
      #fff calc(40% + 1px),
      rgba($color: #000000, $alpha: 0) calc(40% + 1px), rgba($color: #000000, $alpha: 0) calc(60%),
      #fff 60%,
      #fff calc(60% + 1px),
      rgba($color: #000000, $alpha: 0) calc(60% + 1px), rgba($color: #000000, $alpha: 0) calc(80%),
      #fff 80%,
      #fff calc(80% + 1px),
      rgba($color: #000000, $alpha: 0) calc(80% + 1px), rgba($color: #000000, $alpha: 0) 100%,
      );
    }
  }
}
.service-detail_works_item {
  padding-top: getSize(38vw);
  @include fadeUp;
  @include media(sp,max){
    border-top: 1px #fff solid;
    display: flex;
    flex-wrap: nowrap;
  }
  @include media(pc,min){
    width: calc(100% / 5);
    padding: 40px 0 32px;
  }
  &.add-inView {
    @include show;
  }
  + .service-detail_works_item {
    @include media(sp,max){
      margin-top: getSize(41vw);
    }
    @include media(pc,min){
      // border-left: 1px #fff solid;
    }
  }
  &.mod-training {
    @include media(sp,max){
      padding-bottom: getSize(25vw);
      border-bottom: 1px #fff solid;
    }
  }
  &.mod-onboarding {
    @include media(sp,max){
      margin-top: getSize(25vw);
    }
  }
  &:nth-of-type(2) {
    @include media(pc,min){
      transition-delay: 0.1s;
    }
  }
  &:nth-of-type(3)  {
    @include media(pc,min){
      transition-delay: 0.2s;
    }
    
  }
  &:nth-of-type(4)  {
    @include media(pc,min){
      transition-delay: 0.3s;
    }
  }
  &:nth-of-type(5) {
    @include media(pc,min){
      transition-delay: 0.4s;
    }
  }
}
.service-detail_works_item_ttl {
  position: relative;
  width: getSize(137vw);
  padding-top: getSize(46.5vw);
  @include media(sp,max){
    margin-left: getSize(61vw);
  }
  @include media(pc,min){
    width: 97.7px;
    margin: 0 auto;
    padding-top: 42px;
  }
  &:before {
    content: '';
    display: block;
    background-size: 100% 100%;
    width: getSize(137vw);
    height: getSize(137vw);
    @include media(pc,min){
      width: 99px;
      height: 99px;
    }
    .mod-consulting & {
      background-image: url($images + 'service/service/security/consulting-illust.svg');
    }
    .mod-resale & {
      background-image: url($images + 'service/service/security/resale-illust.svg');
    }
    .mod-onboarding & {
      background-image: url($images + 'service/service/security/onboarding-illust.svg');
    }
    .mod-adoption & {
      background-image: url($images + 'service/service/security/adoption-illust.svg');
    }
    .mod-training & {
      background-image: url($images + 'service/service/security/training-illust.svg');
    }
  }
}
.service-detail_works_item_ttl_img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  .mod-consulting & {
    width: getSize(167vw);
    @include media(pc,min){
      width: 117.8px;
    }
  }
  .mod-resale & {
    width: getSize(102vw);
    @include media(pc,min){
      width: 72px;
    }
  }
  .mod-onboarding & {
    width: getSize(184.7vw);
    @include media(pc,min){
      width: 130px;
    }
  }
  .mod-adoption & {
    width: getSize(143vw);
    @include media(pc,min){
      width: 101px;
    }
  }
  .mod-training & {
    width: getSize(126vw);
    @include media(pc,min){
      width: 89px;
    }
  }
}
.service-detail_works_item_list {
  margin: getSize(-4vw) 0 0 getSize(42vw);
  @include media(pc,min){
    margin: 20px 0 0;
    padding: 0 15px 0 19px;
  }
}
.service-detail_works_item_item {
  font-size: getSize(24vw);
  letter-spacing: 0.03em;
  line-height: lh(33,24);
  text-align: justify;
  @include media(pc,min){
    font-size: 15px;
    line-height: lh(24,15);
    letter-spacing: 0.11em;
  }
  + .service-detail_works_item_item {
    margin-top: getSize(34vw);
    @include media(pc,min){
      margin-top: 24px;
    }
  }
}
.service-detail_statement {
  margin-top: getSize(97vw);
  position: relative;
  @include fadeUp;
  @include media(sp,max){
    padding: 0 getSize(44vw) 0 getSize(51vw);
  }
  @include media(pc,min){
    margin-top: 64px;
    width: 1100px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  &.add-inView {
    @include show;
  }
}
.service-detail_statement_visual {
  width: getSize(178vw);
  @include media(sp,max){
    position: absolute;
    top: getSize(-29vw);
    left: getSize(31vw);
  }
  @include media(pc,min){
    width: 310px;
    margin-left: 25px;
    flex-shrink: 0; 
  }
}
.service-outer {
  .mod-changeImgWrap {
    @include media(pc,min){
      position: relative;
    }
  }
  .mod-changeImg {
    opacity: 0;
    transition: opacity 0.8s;
    &.add-visible {
      opacity: 1;
    }
    + .mod-changeImg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}
.service-detail_statement_textArea {
  @include media(pc,min){
    width: 740px;
    flex-shrink: 0;
    margin: 28px 0 0 50px;
  }
}
.service-detail_ttl {
  font-size: getSize(30vw);
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 1.8;
  @include media(sp,max){
    position: relative;
    left: 0.4em;
    margin-left: auto;
    width: getSize(483vw);
    white-space: nowrap;
  }
  @include media(pc,min){
    font-size: 25px;
  }
}
.service-detail_paragraph {
  font-size: getSize(24vw);
  letter-spacing: 0.1em;
  line-height: lh(52,24);
  text-align: justify;
  margin-top: getSize(53vw);
  @include media(pc,min){
    font-size: 15px;
    line-height: 2.35;
    margin-top: 26px;
  }
}
.service-detail_description {
  margin-top: getSize(34vw);
  padding: 0 getSize(43vw) 0 getSize(30vw);
  display: flex;
  flex-wrap: nowrap;
  @include fadeUp;
  @include media(pc,min){
    margin-top: 36px;
    width: 1127px;
    padding: 0;
    align-items: center;
  }
  &.add-inView {
    @include show;
  }
}
.service-detail_description_visual {
  width: getSize(178vw);
  flex-shrink: 0;
  @include media(sp,max){
    margin-top: getSize(11.2vw);
    position: relative;
  }
  @include media(pc,min){
    width: 310px;
    margin-left: 25px;
    flex-shrink: 0;
  }
}
.service-detail_description_textArea {
  margin-left: getSize(52vw);
  @include media(pc,min){
    margin: -6px 0 0 50px;
  }
}
.service-detail_description_paragraph {
  font-size: getSize(24vw);
  letter-spacing: 0.1em;
  line-height: lh(41,24);
  text-align: justify;
  @include media(pc,min){
    font-size: 15px;
    line-height: 2.35;
  }
}

.service-detail_feature {
  margin-top: getSize(57vw);
  padding: 0 getSize(46vw) 0 getSize(50vw);
  @include media(pc,min){
    width: 1100px;
    margin: 176px auto 0;
    padding: 25px 0 18px;
    border-top: 1px #fff solid;
    border-bottom: 1px #fff solid;
    display: flex;
    flex-wrap: nowrap;
    @include fadeUp;
  }
  &.add-inView {
    @include media(pc,min){
      @include show;
    }
  }
}
.service-detail_feature_item {
  position: relative;
  padding-top: getSize(40vw);
  
  @include media(sp,max){
    border-top: 1px #fff solid;
    @include fadeUp;
  }
  @include media(pc,min){
    width: calc(100% / 3);
    padding: 10px 29px 0;
  }
  &.add-inView {
    @include media(sp,max){
      @include show;
    }
  }
  + .service-detail_feature_item {
    @include media(sp,max){
      margin-top: getSize(44vw);
    }
    &:before {
      @include media(pc,min){
        content: '';
        position: absolute;
        width: 1px;
        height: calc(100% - 7px);
        display: block;
        background-color: #fff;
        top: 0;
        left: 0;
      }
    }
  }
  &.mod-1 {
    @include media(pc,min){
      padding: 10px 40px 0 15px;
    }
  }
  &.mod-3 {
    padding-bottom: getSize(22.7vw);
    @include media(sp,max){
      border-bottom: 1px #fff solid;
    }
    @include media(pc,min){
      padding: 10px 15px 0 44px;
    }
  }
}
.service-detail_feature_ttl {
  font-size: getSize(24vw);
  letter-spacing: 0.1em;
  line-height: lh(40,24);
  @include media(sp,max){
    position: absolute;
    top: getSize(28vw);
    left: getSize(14vw);
  }
  @include media(pc,min){
    font-size: 17px;
    line-height: 1;
    margin-left: 9px;
  }
  .mod-strong {
    display: block;
    font-weight: bold;
    letter-spacing: 0.05em;
    font-size: getSize(36vw);
    margin: getSize(16vw) 0 0 getSize(-3vw);
    @include media(pc,min){
      font-size: 25px;
      margin: 15px 0 0 0;
    }
    .mod-3 & {
      @include media(sp,max){
        margin-top: getSize(6.2vw);
      }
    }
    .mod-education & {
      line-height: 1.8;
      @include media(sp,max){
        margin-top: getSize(-7vw);
      }
    }
    .mod-education .mod-3 & {
      @include media(sp,max){
        margin-top: getSize(-5.8vw);
      }
    }
  }
}
.service-detail_feature_detail {
  .mod-education & {
    @include media(pc,min){
      margin-top: -7px;
    }
  }
  .mod-education &.mod-1row {
    @include media(pc,min){
      margin-top: 57px;
    }
  }
}
.service-detail_feature_detail_img {
  width: getSize(372vw);
  position: relative;
  @include media(sp,max){
    margin-left: auto;
  }
  @include media(pc,min){
    width: 309px;
    margin-top: 19px;
  }
}
.service-detail_feature_detail_img_img {
  opacity: 0;
  transition: opacity 0.8s;
  &.add-visible {
    opacity: 1;
  }
  + .service-detail_feature_detail_img_img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.service-detail_feature_detail_paragraph {
  font-size: getSize(24vw);
  letter-spacing: 0.1em;
  line-height: lh(52,24);
  text-align: justify;
  margin: getSize(23vw) 0 0 getSize(4vw);
  @include media(pc,min){
    font-size: 15px;
    line-height: lh(35,15);
    margin: 20px 0 0 0;
  }
  .mod-adjust {
    @include media(sp,max){
      letter-spacing: 0.11em;
    }
  }
}
.service-logoArea {
  margin-top: getSize(47vw);
  @include fadeUp;
  @include media(pc,min){
    margin-top: 44px;
  }
  &.add-inView {
    @include show;
  }
  &.mod-resale {
    @include media(sp,max){
      margin-top: getSize(29vw);
    }
  }
  &.mod-solution {
    @include media(sp,max){
      margin-top: getSize(62.75vw);
    }
    @include media(pc,min){
      margin-top: 57px;
    }
  }
  &.mod-education {
    @include media(sp,max){
      margin-top: getSize(62.75vw);
    }
    @include media(pc,min){
      margin-top: 57px;
    }
  }
}
.service-logoArea_ttl {
  font-size: getSize(26vw);
  letter-spacing: 0.05em;
  font-weight: bold;
  line-height: 1;
  margin-left: getSize(51vw);
  @include media(pc,min){
    font-size: 20px;
    margin-left: 26px;
  }
}
.service-logoArea_accordion {
  margin-top: getSize(21.2vw);
  padding: getSize(35vw) getSize(70vw) getSize(35vw);
  background-color: #fff;
  position: relative;
  @include media(sp,max){
    overflow: hidden;
  }
  @include media(pc,min){
    border-radius: 10px;
    margin-top: 19px;
    padding: 44px 74px;
  }
  &.mod-accordion {
    @include media(sp,max){
      padding: getSize(35vw) getSize(70vw) getSize(82vw);
      max-height: getSize(400vw);
      transition: max-height 0.3s linear;
    }
    &:after {
      @include media(sp,max){
        content: '';
        height: getSize(82vw);
        width: 100%;
        display: block;
        background-color: #fff;
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }
    &.add-open {
      @include media(sp,max){
        max-height: var(--maxAccordionHeight);
      }
    }
  }
}
.service-logoArea_list {
  display: flex;
  flex-wrap: wrap;
}
.service-logoArea_item {
  width: calc(100% / 3);
  @include media(pc,min){
    width: calc(100% / 6);
  }
  &:nth-of-type(n + 4) {
    @include media(sp,max){
      margin-top: getSize(48vw);
    }
  }
  &:nth-of-type(n + 7) {
    @include media(pc,min){
      margin-top: 36px;
    }
  }
}
.service-logoArea_link {
  display: block;
}
.service-logoArea_item_img {
  display: block;
  width: getSize(169vw);
  height: getSize(61vw);
  @include media(pc,min){
    width: 148px;
    height: 53.2px;
    margin: 0 auto;
  }
  .service-logoArea_item:nth-of-type(3n - 2) & {
    @include media(sp,max){
      margin: 0 auto 0 0;
    }
  }
  .service-logoArea_item:nth-of-type(3n - 1) & {
    @include media(sp,max){
      margin: 0 auto;
    }
  }
  .service-logoArea_item:nth-of-type(3n) & {
    @include media(sp,max){
      margin: 0 0 0 auto;
    }
  }
}
.service-logoArea_accordionButton {
  position: absolute;
  bottom: getSize(17vw);
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  @include media(pc,min){
    display: none;
  }
  &:before {
    content: '';
    width: getSize(32vw);
    height: getSize(32vw);
    display: inline-block;
    background-image: url($images + 'common/arrow2-reverse.svg');
    background-size: 100% 100%;
    position: relative;
    top: 0.2em;
    transform: rotate(90deg);
  }
  &:after {
    content: 'more';
    font-size: getSize(28vw);
    letter-spacing: 0.1em;
    line-height: 1;
    font-weight: bold;
    color: $primary-b;
    margin-left: getSize(13vw);
  }
  .service-logoArea_accordion.add-open & {
    &:before {
      transform: rotate(-90deg);
    }
    &:after {
      content: 'close';
    }
  }
}
.service-bottom {
  background-color: #fff;
  display: block;
  width: 100%;
  height: getSize(88vw);
  @include media(sp,max){
    margin-top: -1px;
  }
  @include media(pc,min){
    height: 342px;
  }
}