$vh: 774;
$vw: 1400;

$tab: 0.785714285714286;
$minVh: 0.775193798449612;

.top-outer {
  position: relative;
  overflow: hidden;
}

.top-horizontal {
  @include media(pc) {
    position: relative;
  }
}

.top-horizontalInner {
  // overflow: scroll; //あとで消す
  .add-pc & {
    @include media(pc) {
      height: calc(100vh - 80px);
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      min-height: 600px;
    }
  }
}

/*-------- 
kv
---------*/

.top-kv {
  position: relative;
}
.top-kv_textWrap {
  background-color: rgba(255,255,255,0.5);
  position: absolute;
  right: 50%;
  bottom: 50%;
  transform: translate(50%,50%);
  text-align: center;
  border-radius: 4vw;
  padding: 4vw 6vw;
  @include media(pc,min) {
    border-radius: 25px;
    padding: 20px 30px;
  }
}
.top-kv_text {
  font-size: 11vw;
  white-space: nowrap;
  @include fontZenMaruGothic;
  letter-spacing: -0.11em;
  color: #fff;
  transform: translate(-0.055em,-0.05em);
  filter:drop-shadow(0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.7));
  line-height: 1.25;
  @include media(pc,min) {
    font-size: 67px;
    line-height: 1.35;
    filter:drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
  }
  .mod-pink {
    color: $primary-p;
  }
  .mod-blue {
    color: $primary-b;
  }
  .mod-yellow {
    color: $primary-y;
  }
  .mod-green {
    color: $primary-g;
  }
  .mod-orenge {
    color: $primary-o;
  }
  .mod-space {
    letter-spacing: 0em;
  }
}

/*-------- 
ex
---------*/
.top-ex {
  .add-iPad & {
    margin: 350px auto 0;
  }
  @include media(pc) {
    margin: 90px auto 0;
    width: 1100px;
  }
}

.top-ex_ttl {
  color: $base-b;
  font-size: getSize(36, 750) + "vw";
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;

  span {
    display: block;
    transform: translateX(getSize(4, 750) + "vw");
    @include media(pc) {
      transform: translateX(4px);
    }
  }

  @include media(pc) {
    font-size: 35px;
    letter-spacing: 0.08em;
  }

  @include fadeUp;
  &.add-inView {
    @include show;
  }
}

.top-ex_itemFig {
  width: 100%;
  height: getSize(293, 750) + "vw";
  overflow: hidden;
  @include media(pc) {
    width: 240px;
    height: 240px;
  }
}

.top-ex_list {
  margin: getSize(68, 750) + "vw" getSize(50, 750) + "vw" 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  // gap: getSize(41, 750) + "vw" getSize(62, 750) + "vw";

  @include tab {
    width: 1050px;
    gap: 30px 30px;
  }
  @include media(pc) {
    justify-content: unset;
    margin: 60px auto 0;
    gap: 46px 46px;
  }
}
.top-ex_item {
  width: getSize(293, 750) + "vw";

  @include media(sp, max) {
    &:nth-child(n + 3) {
      margin-top: getSize(41, 750) + "vw";
    }
  }

  @include media(sp, max) {
    @include fadeUp;
    &.add-inView {
      @include show;
    }
  }

  @include media(pc) {
    width: 240px;

    @include fadeUp;
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        transition-delay: $i * 0.2s !important;
        @include fadeUp;
        &.add-inView {
          @include show;
        }
      }
    }
  }
}

.top-ex_item_link {
  display: block;
}

.top-ex_itemTxt {
  color: $base-b;
  font-size: getSize(24, 750) + "vw";
  font-weight: bold;

  line-height: lh(39, 24);
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: getSize(30, 750) + "vw";
  @include santen;
  @include media(pc) {
    font-size: 16px;
    line-height: lh(25, 16);
    margin-top: 27px;
  }
}

@mixin dateTxt {
  color: $base-b;
  font-size: getSize(20, 750) + "vw";

  line-height: 1;
  letter-spacing: 0.04em;
  @include media(pc) {
    font-size: 14px;
  }
}

.top-ex_itemDateTxt {
  @include dateTxt;
  margin-top: getSize(20, 750) + "vw";
  @include media(pc) {
    margin-top: 12px;
  }
}

.top-ex_linkBox {
  text-align: center;
  margin-top: getSize(70, 750) + "vw";
  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc) {
    margin-top: -28px + 87;
  }
}

/*-------- 
notice
---------*/
.top-notice {
  position: relative;
  margin: getSize(85 * 2, 750) + "vw" getSize(50, 750) + "vw"
    getSize(100 * 2, 750) + "vw";

  @include media(pc) {
    width: 1100px;
    margin: 58px * 2 auto 65px * 2;
  }

  @include tab {
    width: 1050px;
  }
}

.top-noticeWrap {
  position: relative;
  padding-bottom: getSize(80, 750) + "vw";
  @include media(pc) {
    padding-bottom: 0px;
  }
  &::before {
    @include after;
    width: 100%;
    padding-top: getSize(4, 750) + "vw";
    background: #fff;
    @include media(pc) {
      padding-top: 2px;
    }
  }
  &::after {
    @include after;
    width: 100%;
    padding-top: getSize(4, 750) + "vw";
    background: #fff;
    position: absolute;
    bottom: 0;
    @include media(pc) {
      padding-top: 2px;
    }
  }
}

.top-notice_ttl {
  color: $base-b;
  font-size: getSize(36, 750) + "vw";
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
  text-align: center;
  transform: translateX(getSize(4, 750) + "vw");
  margin-top: getSize(45, 750) + "vw";

  span {
    display: block;
    transform: translateX(getSize(4, 750) + "vw");
    @include media(pc) {
      transform: translateX(4px);
    }
  }

  @include media(pc) {
    font-size: 35px;
    margin-top: 50px;
    transform: translateX(0px);
    letter-spacing: 0.09em;
  }

  @include fadeUp;
  &.add-inView {
    @include show;
  }
}

.top-notice_list {
  position: relative;
  margin-top: getSize(70, 750) + "vw";
  @include media(pc) {
    margin-top: 45px;
  }
}

.top-notice_item {
  @include fadeUp;
  &.add-inView {
    @include show;
  }

  @include media(pc) {
    margin: 0;
    padding: 47px 77px;
    justify-content: flex-start;
    position: relative;

    &::before {
      @include after;
      position: absolute;
      background-color: #fff;
      opacity: 0.3;
      width: 100%;
      padding-top: 1px;
    }

    &:nth-of-type(1) {
      &::before {
        display: none;
      }
    }
  }

  &::before {
    top: 0;
    left: 0;
  }

  &:nth-child(n + 2) {
    margin-top: getSize(52, 750) + "vw";
    @include media(pc) {
      margin-top: 0;
    }
  }
}

.top-notice_item_link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-notice_fig {
  width: getSize(200, 750) + "vw";
  height: getSize(200, 750) + "vw";
  overflow: hidden;
  @include media(pc) {
    width: 121px;
    height: 121px;
  }
}

.top-notice_itemBox {
  width: getSize(417, 750) + "vw";
  @include media(pc) {
    width: 789px;
    margin-left: 45px;
  }
}

.top-notice_itemDateTxt {
  display: block;
  @include dateTxt;

  margin-top: getSize(5, 750) + "vw";

  @include media(pc) {
    font-size: 18px;
    margin-top: 0px;
  }
}

.top-notice_itemTtl {
  color: $base-b;
  font-size: getSize(30, 750) + "vw";
  font-weight: bold;
  line-height: lh(44, 30);
  letter-spacing: 0.05em;
  margin-top: getSize(8, 750) + "vw";
  @include santen;

  @include media(pc) {
    -webkit-line-clamp: 1;
    font-size: 19px;
    line-height: lh(37, 19);
    margin-top: 10px;
  }
}

.top-notice_itemTxt {
  color: $base-b;
  font-size: getSize(24, 750) + "vw";

  line-height: lh(37, 24);
  letter-spacing: 0.05em;
  text-align: left;
  margin-top: getSize(8, 750) + "vw";
  @include santen;

  @include media(pc) {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 7px;
  }
}

.top-notice_linkBox {
  text-align: center;
  margin-top: getSize(47, 750) + "vw";

  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc) {
    margin-top: 36px;
  }
}

/*-------- 
recruit
---------*/

.top-bgWrap {
  background: #64aee5;
}

.top-recruit {
  position: relative;
  padding-top: getSize(51, 750) + "vw";
  @include media(pc) {
    padding-top: 45px;
    width: 988px;
    // margin: 0 auto 0 259px;
    margin: 0 auto;
    // clip-path: ellipse(50% 18% at 50% 0%);
  }
  @include tab {
    width: 950px;
  }
}

.top-recruit_ttl {
  color: #14509f;
  font-size: getSize(36, 750) + "vw";
  font-weight: bold;
  line-height: lh(66, 36);
  letter-spacing: 0.05em;
  margin-top: getSize(22, 750) + "vw";

  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc) {
    font-size: 35px;
    margin-top: 58px;
    letter-spacing: 0.1em;
  }
}

.top-recruit_ttlTxt {
  color: #14509f;
  font-size: getSize(33, 750) + "vw";
  font-weight: bold;
  line-height: lh(66, 33);
  letter-spacing: 0.05em;
  margin-top: getSize(29, 750) + "vw";
  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc) {
    font-size: 30px;
    line-height: lh(55, 30);
    margin-top: 42px;
    letter-spacing: 0.06em;
  }
}

.top-recruit_txt {
  color: #14509f;
  font-size: getSize(24, 750) + "vw";
  font-weight: 500;
  line-height: lh(52, 24);
  letter-spacing: 0.09em;
  margin-top: getSize(52, 750) + "vw";

  span {
    display: block;
    &:last-child {
      margin-top: 1em;
      // @include media(pc) {
      //   margin-top: 12px;
      // }
    }
  }

  @include fadeUp;
  &.add-inView {
    @include show;
  }
  @include media(pc) {
    font-size: 18px;
    line-height: lh(38, 18);
    margin-top: 25px;
    letter-spacing: 0.1em;
  }
}

.top-recruitWrap {
  margin: 0 getSize(54, 750) + "vw";

  @include media(pc) {
    // width: 1100px;
    margin: 0;
  }
}

.top-recruit_linkBox {
  @include fadeUp;
  &.add-inView {
    @include show;
  }
}

.top-recruit_link {
  width: getSize(306, 750) + "vw";
  display: block;
  margin: getSize(37, 750) + "vw" 0 0 0px;
  clip-path: polygon(4% 0, 100.4% 0%, 95.3% 100%, -1% 100%);

  @include media(pc) {
    width: 307px;
    display: block;
    margin: 45px 0 0 1px;
    opacity: 1 !important;
    height: 90px;
    svg {
      .cls-2 {
        transition: stroke 0.2s, fill 0.2s;
      }
      &:hover {
        .cls-2 {
          fill: #fff;
          stroke: #fff;
        }
      }
    }
  }
}

.top-recruit_illustWrap {
  width: getSize(341, 750) + "vw";
  height: getSize(341, 750) + "vw";
  position: absolute;
  top: getSize(60, 750) + "vw";
  right: getSize(-5, 750) + "vw";
  background: linear-gradient(140deg, #5aedff 0.0723%, #14509f 99.3024%);
  border-radius: 500px;

  @include media(pc) {
    width: 376px;
    height: 376px;
    top: 103px;
    right: 0;
  }
}

.top-recruit_illustWrap_inline {
  position: absolute;
  top: 44%;
  left: 49%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  width: getSize(383, 750) + "vw";
  transform-origin: center;

  .add-inView & {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  @include media(pc) {
    width: 423px;
  }
}

.top-recruit_figWrap {
  display: none;

  @include media(pc) {
    display: block;
    width: 241px;
    height: 241px;
    position: absolute;
    top: 400px;
    right: 256px;

    @include fadeUp;
    &.add-inView {
      @include show;
    }
  }
}

/*-------- 
border
---------*/

.top-svgNone {
  width: 0;
  height: 0;
  opacity: 0;
}

.top-swiper {
  clip-path: url(#clip01);
  position: relative;
  z-index: 1;
  overflow: hidden;
  margin-top: getSize(18, 750) + "vw";
  // padding-bottom: 56.25%;
  height: getSize(400, 750) + "vw";

  @include fadeUp;

  @include media(sp, max) {
    &.add-inView {
      @include show;
    }
  }

  @include media(pc) {
    clip-path: url(#clip02);
    margin-top: 0;
    // width: getSize(1401,1400)+"vw";
    // width: 1401px;
    width: 2685px;
    // width: calc(2685px - 1227px);

    height: 655px;
    // max-width: 1401px;
    // margin: 0 auto 0 -116px;
    transform: translate(-64px, 50px);

    &.add-inView {
      opacity: 1;
      transform: translate(-64px, 0);
    }
  }
}

/* スライドの動き等速 */
.top-swiper_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  // display: flex;
  // transition-property: transform;
  // box-sizing: content-box;
  // transform: translate3d(0px, 0, 0);
  display: flex;
  align-items: center;
  justify-content: left;
}

.top-swiper_slide {
  display: flex;
  align-items: center;
  justify-content: left;

  width: getSize(750, 750) + "vw";
  height: getSize(366, 750) + "vw";
  position: relative;
  will-change: background-position, transform;

  // background: url(../images/top/border/fig5.jpg) repeat-x left center/auto
  //   100%;
  @include media(pc) {
    width: 996px;
    height: 681px;
  }

  // animation: slide_infinite_sp linear infinite 40s forwards;

  // @include media(pc) {
  //   animation: slide_infinite_pc linear infinite 40s forwards;
  // }
}

// ::-webkit-full-page-media,
// :future,
// :root .top-swiper_slide {
//   /* ここに書く */
//   animation: slide_infinite_sp_safari linear infinite 20s forwards;

//   @include media(pc) {
//     animation: slide_infinite_pc_safari linear infinite 20s forwards;
//   }
// }

// @keyframes slide_infinite_sp {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }
//   100% {
//     transform: translate3d(getSize(-2330, 750) + "vw", 0, 0);
//   }
// }

// @keyframes slide_infinite_pc {
//   0% {
//     transform: translate3d(0, 0, 0);
//   }
//   100% {
//     transform: translate3d(-3959px, 0, 0);
//   }
// }
// @keyframes slide_infinite_sp_safari {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: getSize(-2129, 750) + "vw" 0;
//   }
// }

// @keyframes slide_infinite_pc_safari {
//   0% {
//     background-position: 0 0;
//   }
//   100% {
//     background-position: -3960px 0;
//   }
// }

/* 画像のサイズ調整 */
.top-swiper_slide img {
  width: auto;
  height: 100%;

  // @include media(pc) {
  //   width: 1084px;
  // }

  // width: 790px;
  // height: auto;
  // @include media(pc) {
  //   width: getSize(790, 1400) + "vw";
  // }
}

/*-------- 
soon
---------*/

.top-soon {
  position: relative;
  margin-top: getSize(-129, 750) + "vw";
  background: url(../images/top/soon/fig1.png) no-repeat center center/100% auto;
  height: getSize(760, 750) + "vw";
  @include media(pc) {
    background: url(../images/top/soon/pc/fig1.png) no-repeat top center/1400px;
    margin-top: 66px;
    height: 970px;

    @media screen and (min-width: 1400px) {
      background: url(../images/top/soon/pc/fig1.png) no-repeat top center/100%
        auto;
    }

    &::before {
      @include after;
      background: url(../images/top/soon/pc/border1.svg) no-repeat top
        center/cover;
      width: 100%;
      padding-top: getSize(90, 1400) + "vw";
      transform: translateY(getSize(-48, 1400) + "vw");

      @include tab {
        width: 1100px;
        padding-top: 70.71px;
        transform: translateY(-38px);
      }
    }
  }
}

.top-soonWrap {
  position: absolute;
  top: getSize(235, 750) + "vw";
  left: 50%;
  transform: translate(-50%, -50%);

  @include media(pc) {
    top: 80px;
    transform: translate(-50%, 0%);
  }
}

.top-soon_head {
  color: $base-b;
  line-height: 1;
  font-size: getSize(35, 750) + "vw";
  font-weight: bold;
  letter-spacing: 0.07em;
  white-space: nowrap;
  text-align: center;
  margin-top: getSize(38, 750) + "vw";
  span {
    font-size: getSize(27, 750) + "vw";
    display: block;
    transform: translateY(getSize(32vw, 750));
    font-weight: 400;
    @include media(pc) {
      transform: translateY(32px);
      font-size: 19px;
    }
  }
  @include media(pc) {
    margin-top: 40px;
    font-size: 35px;
  }
}

.top-soonTxtPos {
  // background-color: #14509f;
  width: 100%;
  padding-top: getSize(406, 750) + "vw";
  position: absolute;
  top: getSize(293, 750) + "vw";

  @include media(pc) {
    padding-top: 666px;
    top: 270px;
  }
}

.top-soon_txt {
  color: $base-b;
  line-height: 1;
  font-weight: bold;
  white-space: nowrap;
  text-align: center;
  position: absolute;
  font-size: getSize(40, 750) + "vw";
  top: calc(50% - #{getSize(20, 750)+"vw"});
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 0.09em;
  opacity: 0.7;

  @include media(pc) {
    font-size: 40px;
    top: calc(50% - 20px);
  }
}

#top {
  .footer {
    margin-top: getSize(-49, 750) + "vw";
    @include media(pc) {
      margin-top: -2.71vw;
      background-color: rgba($color: #000000, $alpha: 0);
    }
    @media screen and (min-width: $width) and (max-width: 1400px) {
      margin-top: -38px;
    }
  }
}
