.part-button {
  position: relative;
  text-align: center;
  background-color: $base-b;
  width: 53vw;
  display: inline-block;
  margin-top: 4.5vw;
  border-radius: 4vw;
  @include media(pc,min) {
    width: 200px;
    margin-top: 15px;
    border-radius: 25px;
    border-radius: 25px;
  }
  &.mod-space {
    margin-top: 6vw;
    @include media(pc,min) {
      margin-top: 30px;
    }
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../images/kids/common/arrow_white.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: getSize(9vw,375);
    height: getSize(15.9834vw,375);
    right: 2.2vw;
    top: 50%;
    transform: translateY(-50%);
    @include media(pc,min) {
      width: 9px;
      height: 15.9834px;
      right: 10px;
    }
  }
}
.part-button_text {
  font-size: 4vw;
  line-height: 1;
  @include fontZenMaruGothic;
  color: #fff;
  display: inline-block;
  padding: 3.5vw 0;
  transform: translateX(-0.5vw);
  display: inline-block;
  @include media(pc,min) {
    font-size: 16px;
    padding: 12px 0;
  }
}