.footer {
  color: $base-b;
  background-color: $base-y;
  position: relative;
  z-index: 1;
  @include fontZenMaruGothic();
  font-weight: 500;
  padding: getSize(56vw) 0 getSize(40vw);
  @include media(pc,min){
    padding: 108px 0 40px;
    overflow: hidden;
  }
  a {
    color: $base-b;
  }
  _::-webkit-full-page-media, _:future, :root & {
    font-weight: 400;
  }
}
.footer-innerContainer {
  @include media(pc,min){
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 38px 0 45px;
  }
  @include media(pc,min){
    position: relative;
  }
  @media screen and (min-width:1311px) {
    padding: 0 4% 0 4.6%;
  }
  @media screen and (min-width:1400px) {
    padding: 0 52px 0 64px;
  }
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  @include media(pc,min){
    width: 1200px;
    justify-content: space-between;
  }
}
.footer-contact {
  @include media(sp,max){
    margin: 0 auto;
  }
  @include media(pc,min){
    order: 1;
    display: flex;
    flex-direction: column;
  }
}
.footer-contact_logoWrap {
  display: flex;
  align-items: center;
}
.footer-contact_icon {
  width: 17vw;
  @include media(pc,min){
    width: 80px;
  }
}
.footer-contact_title {
  width: 62vw;
  transform: translateY(1vw);
  margin-left: 3vw;
  @include media(pc,min){
    width: 300px;
    transform: translateY(6px);
    margin-left: 20px;
  }
}
.footer-contact_address {
  font-size: getSize(24vw);
  line-height: 1;
  letter-spacing: 0.05em;
  font-weight: bold;
  white-space: nowrap;
  @include media(pc,min){
    font-size: 16px;
    line-height: lh(33,16);
  }
}

.footer-otherPages {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  @include media(sp,max){
    width: 100%;
  }
}
.footer-otherPages_inner {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include media(sp,max){
    margin: 0 auto;
  }
  @include media(pc,min){
    width: 590px;
  }
}
.footer-otherPages_item {
  font-size: getSize(25vw);
  letter-spacing: 0.05em;
  line-height: 1.2;
  font-weight: bold;
  margin-top: 2.5vw;
  width: 50%;
  @include media(pc,min){
    width: 200px;
    font-size: 16px;
    margin-top: 10px;
  }
}
.footer-otherPages_link {
  @include media(sp,max){
    white-space: nowrap;
  }
}
.footer-notes {
  line-height: 1;
  margin-top: getSize(46vw);
  @include media(pc,min){
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
  }
}
.footer-notes_inner {
  font-size: getSize(22vw);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  @include media(sp,max){
    margin-left: getSize(164vw);
  }
  @include media(pc,min){
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}
.footer-notes_separator {
  height: getSize(22vw);
  width: 1px;
  background-color: $base-b;
  margin: 0 getSize(25vw) 0 getSize(20vw);
  @include media(pc,min){
    height: 12px;
    margin: 0 15px;
  }
}
.footer-notes_link {
  &.mod-last {
    position: relative;
    @include media(pc,min){
      letter-spacing: 0.05em;
    }
  }
}
.footer-notes_copyRight {
  text-align: center;
  display: block;
  font-size: getSize(22vw);
  @include media(sp,max){
    margin: getSize(27vw) auto 0;
  }
  @include media(pc,min){
    font-size: 12px;
    letter-spacing: 0.05em;
  }
}