.part-goToTopBtn {
  position: relative;

  width: getSize(564vw);
  height: getSize(138vw);
  margin: getSize(30vw) auto 0;
  // border-radius: getSize(5vw);
  @include media(sp, min) {
    margin: 30px auto 0;
    width: 240px;
    height: 86px;
  }
}

.part-gotoTop_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: $base-b;
  color: #fff;
  font-size: getSize(30vw);
  font-weight: bold;
  border-radius: getSize(5vw);
  @include media(pc) {
    font-size: 20px;
    border-radius: 5px;
  }
}
