.part-goToTopBtn {
  position: relative;
  font-size: 4.5vw;
  margin: getSize(30vw) auto 0;
  width: 53vw;
  margin-top: 4.5vw;
  transform: translateX(-0.5vw);
  // border-radius: getSize(5vw);
  @include media(pc) {
    font-size: 18px;
    width: 200px;
    margin: 30px auto 0;
  }
}

.part-gotoTop_link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: getSize(30vw);
  font-weight: bold;
  border-radius: getSize(5vw);
  background-color: $base-b;
  padding: 3.5vw 0;
  border-radius: 4vw;
  @include media(pc) {
    font-size: 20px;
    padding: 12px 0;
    border-radius: 25px;
  }
}
