

@keyframes burger-close-top {
  0% {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
  50% {
    transform: rotate(0);
    top: calc(50% - 1px);
  }
  100% {
    transform: rotate(0);
    top: 0;
  }
}

@keyframes burger-close-bottom {
  0% {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }
  50% {
    transform: rotate(0);
    bottom: calc(50% - 1px);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}
@keyframes burger-open-top {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: rotate(0);
    top: calc(50% - 1px);
  }
  100% {
    transform: rotate(45deg);
    top: calc(50% - 1px);
  }
}

@keyframes burger-open-bottom {
  0% {
    transform: translateY(0) rotate(0);
  }
  50% {
    transform: rotate(0);
    bottom: calc(50% - 1px);
  }
  100% {
    transform: rotate(-45deg);
    bottom: calc(50% - 1px);
  }
}

body {
  &.add-headerOpen {
    @include media(sp,max){
      overflow: hidden;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.header-outer {
  line-height: 1;
  background-color: #fff;
  @include fontZenMaruGothic();
  font-weight: 700;
  height: getSize(108vw);
  border-top: getSize(10vw) solid $base-b;
  @include media(pc,min){
    height: 105px;
    min-width: $min-width;
    border-top: none;
  }
  .header-nav_link,
  .header-service_link {
    color: #fff;
    @include media(pc,min){
      color: $base-b;
    }
  }
  _::-webkit-full-page-media, _:future, :root & {
    font-weight: 400;
  }
}
.header-inner {
  background-color: rgba(245,225,154,0.2);
  @include media(pc,min){
    height: 105px;
    min-width: $min-width;
    margin: 0 auto;
    position: relative;
    #top & {
      &:before,&:after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 653px;
        height: 195px;
      }
      &:before {
        top: -1px;
        left: 50%;
        transform: translate(-1020px);
        background: url(../images/kids/common/flag_left.png) no-repeat center/contain;
      }
      &:after {
        top: -1px;
        right: 50%;
        transform: translate(1020px);
        background: url(../images/kids/common/flag_right.png) no-repeat center/contain;
      }
    }
  }
  @include large_desktop {
    #top & {
      &:before {
        transform: translate(0px);
        left: -60px;
      }
      &:after {
        transform: translate(0px);
        right: -60px;
      }
    }
  }
  @include small_desktop {
    #top & {
      &:before {
        transform: translate(0px);
        left: -420px;
      }
      &:after {
        transform: translate(0px);
        right: -420px;
      }
    }
  }
}
.header-border {
  @include media(pc,min){
    height: 6px;
    background-color: $base-b;
    width: 100%;
    position: absolute;
    z-index: 11;
    top: 0;
    left: 0;
  }
}
.header-burgerIcon {
  width: getSize(60vw);
  height: getSize(60vw);
  background-color: #fff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 getSize(17vw) 0 0;
  @include media(sp,max){
    position: relative;
    top: getSize(24vw);
  }
  @include media(pc,min){
    visibility: hidden;
    position: absolute;
    z-index: -1;
  }
}
.header-burgerIcon_inner {
  width: getSize(40vw);
  height: getSize(36.5vw);
  position: relative;
  display: block;
}
.header-burgerIcon_line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  border-radius: 1px;
  background-color: $base-b;
  display: block;
  &.mod-top {
    top: 0;
  }
  &.mod-middle {
    transition: opacity .3s;
    opacity: 1;
    top: calc(50% - 1px);
  }
  &.mod-bottom {
    bottom: 0;
  }
  .add-headerOpen  & {
    &.mod-top {
      animation: burger-open-top .3s forwards;
    }
    &.mod-middle {
      opacity: 0;
    }
    &.mod-bottom {
      animation: burger-open-bottom .3s forwards;
    }
  }
  .header-burgerIcon.add-burgerClose & {
    &.mod-top {
      animation: burger-close-top .3s forwards;
    }
    &.mod-bottom {
      animation: burger-close-bottom .3s forwards;
    }
  }
}

.header-logoWrap {
  @include media(sp,max){
    display: flex;
    justify-content: space-between;
    height: getSize(108vw);
    background-color: #fff;
  }
  @include media(pc,min){
    position: relative;
  }
}
.header-logo {
  @include media(sp,max){
    margin: 0 0 0 getSize(34.5vw);
  }
  @include media(pc,min){
    position: absolute;
    top: 14px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.header-logo_link {
  display: flex;
  align-items: center;
  @include media(sp,max){
    height: 14.4vw;
  }
  @include media(pc,min){
    flex-direction: column;
  }
}
.header-logo_icon {
  width: 13vw;
  @include media(pc,min){
    width: 87px;
  }
}
.header-logo_title {
  width: 55vw;
  @include media(sp,max){
    margin-left: 3vw;
    transform: translateY(0.5vw);
  }
  @include media(pc,min){
    width: 170px;
    margin-top: 7px;
  }
}
.header-content {
  scrollbar-width: none;
  -ms-overflow-style: none;
  @include media(sp,max){
    overflow-y: scroll;
    visibility: hidden;
    opacity: 0;
    height: 0;
    background-color: #fff;
    transition: opacity 0.3s , visibility 0s 0.3s, height 0s 0.3s;
  }
  @include media(pc,min){
    padding-top: 3px;
  }
  .add-headerOpen & {
    height: calc(var(--vh) * 100);
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s , visibility 0s, height 0s;
  }
}
.header-content::-webkit-scrollbar{
  display: none;
}

.header-nav {
  @include media(sp,max){
    background-color: $base-b;
    min-height: calc(var(--vh) * 100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  @include media(pc,min){
    margin-top: 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.header-nav_list {
  @include media(sp,max){
    padding: 3vw getSize(51vw) getSize(10vw);
  }
  @include media(pc,min){
    min-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
}
.header-nav_item {
  @include media(sp,max){
    &:after {
      background-color: #fff;
      border-radius: 0.5px;
      content: "";
      display: block;
      height: 1px;
    }
  }
  @include media(pc,min){
    &:nth-child(3) {
      margin-left: 220px;
    }
    &:nth-child(2),&:nth-child(4) {
      margin-left: 20px;
    }
    &:nth-child(1),&:nth-child(2) {
      transform: translateX(-17px);
    }
  }
}
.header-nav_link {
  display: block;
  position: relative;
  @include media(sp,max){
    padding: getSize(37vw) 0 getSize(37vw) getSize(27vw);
  }
  @include media(pc,min){
    transition: none;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &:after {
    @include media(sp,max){
      content: '';
      display: block;
      position: absolute;
      background-image: url($images + 'kids/common/arrow_white.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: getSize(15vw);
      height: getSize(26vw);
      right: getSize(11vw);
      top: calc(50% - #{getSize(13vw)});
    }
  }
}
.header-nav_img {
  width: 95px;
}
.header-nav_text {
  font-size: getSize(26vw);
  font-weight: bold;
  display: inline-block;
  @include media(pc,min){
    font-size: 15px;
    margin-top: 3px;
  }
}