.loader_container {
  background-color: $base-y;
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 9999;
  top: 0;

  .add-loaded & {
    transition: opacity 0.3s 0.2s, visibility 0s 0.5s;
    opacity: 0;
    visibility: hidden;
  }
}

.loader_position {
  bottom: 50%;
  position: fixed;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 15;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0 auto;
  font-size: getSize(12vw);
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(94, 53, 0, 0.5);
  border-right: 1.1em solid rgba(94, 53, 0, 0.5);
  border-bottom: 1.1em solid rgba(94, 53, 0, 0.5);
  border-left: 1.1em solid $base-b;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  @include media(pc,min){
    font-size: 11px;
    margin: 0 auto;
  }
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

