.part-mainTtl_wrap {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 22vw;
  @include media(pc, min) {
    margin: 0 auto;
    height: 150px;
    #posts & {
      width: 1100px;
    }
    #contact &,
    #confirm &,
    #complete &,
    #post & {
      width: 1000px;
    }
  }
}

.part-mainTtl {
  display: flex;
  align-items: center;
  justify-content: center;
}

.part-mainTtl_img {
  width: getSize(116%);
  @include media(sp, min) {
    width: 97px;
  }
}

.part-mainTtl_span {
  margin-left: getSize(34%);
  font-size: getSize(36vw);
  line-height: lh(64, 36);
  letter-spacing: 0.05em;
  font-weight: 700;
  color: #fff;
  filter:drop-shadow(0.4vw 0.4vw 0.4vw rgba(0, 0, 0, 0.7));
  @include media(sp, min) {
    filter:drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.5));
    margin-left: 28px;
    font-size: 30px;
    line-height: lh(53, 30);
  }
}
