.parts-privacyMark {
  display: flex;
  justify-content: center;
}
.parts-privacyMark_img {
  &.mod-iso {
    width: getSize(246vw);
    @include media(pc,min){
      width: 123px;
    }
  }
  &.mod-privacyMark {
    width: getSize(110vw);
    margin-left: getSize(24vw);
    @include media(pc,min){
      width: 55px;
      margin-left: 30px;
    }
  }
}